<!--MySearch Filter-->

<div class="container-sm d-flex justify-content-center">
<h3>Filter:  </h3>
  <div class="col-xs-4">
    <select [(ngModel)]="searchCol" class="form-control form-control-sm">
      <option  *ngFor="let searchColumn of tableConfig.search.columns" >{{searchColumn}}</option>
    </select>
  </div>
<div class="col-xs-3">
  <input type="text" class="form-control form-control-sm" [(ngModel)]="searchValue" id="search">
</div>
</div>

<div class="container-sm d-flex justify-content-center">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" class="tableHeader" *ngFor="let header of tableConfig.headers" (click)="sort(header.key, tableConfig.order.orderType)">
          {{header.label}}
          <span class="material-icons" *ngIf="tableConfig.order.defaultColumn === header.key">
            <span class="material-icons" *ngIf="tableConfig.order.orderType === 'desc'; else elseBlock">
              arrow_upward
            </span>

            <ng-template #elseBlock>
              <span class="material-icons">
                arrow_downward
              </span>
            </ng-template>
          </span>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data | searchFilter:searchCol:searchValue | pagination:tableConfig.pagination.itemPerPage:activePage">
        <td *ngFor="let index of tableConfig.headers">
          <span>{{row[index.key]}}</span>
        </td>
        <td>
          <app-custom-button *ngFor="let action of tableConfig.actions" [buttonConfig]="action" (clickButton)="actionButtons([action.text, row])" class="swd-button">
          </app-custom-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--Pagination-->
<div class="d-flex flex-row justify-content-center">
  <div class="d-flex justify-content-start">
    Items Per Page:
    <select [(ngModel)]="tableConfig.pagination.itemPerPage">
      <option  *ngFor="let itemPerPage of tableConfig.pagination.itemPerPageOptions" >{{itemPerPage}}</option>
    </select>
</div>
  <div class="d-flex justify-content-end">
    Select Page:
    <select [(ngModel)]="activePage">
      <option  *ngFor="let pages of totalPageArray | amountPagesTable:data:tableConfig.pagination.itemPerPage">{{pages+1}}</option>
    </select>
  </div>
</div>


