<!--MySearch Filter-->
Filter:
<div>
  <select [(ngModel)]="searchCol">
    <option  *ngFor="let searchColumn of tableConfig.search.columns" >{{searchColumn}}</option>
  </select>
  <input type="text" [(ngModel)]="searchValue" id="search">
</div>

<div>
  <table border="1px">
    <thead>
      <tr>
        <th class="tableHeader" *ngFor="let header of tableConfig.headers" (click)="sort(header.key, tableConfig.order.orderType)">
          {{header.label}}
          <span class="material-icons" *ngIf="tableConfig.order.defaultColumn === header.key">
            <span class="material-icons" *ngIf="tableConfig.order.orderType === 'desc'; else elseBlock">
              arrow_upward
            </span>

            <ng-template #elseBlock>
              <span class="material-icons">
                arrow_downward
              </span>
            </ng-template>
          </span>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data | searchFilter:searchCol:searchValue | pagination:tableConfig.pagination.itemPerPage:activePage">
        <td *ngFor="let index of tableConfig.headers">
          <span>{{row[index.key]}}</span>
        </td>
        <div class="inline">
          <app-custom-button *ngFor="let action of tableConfig.actions" [buttonConfig]="action" (clickButton)="actionButtons([action.text, row])" class="swd-button">
          </app-custom-button>
        </div>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--Pagination-->
<br>
Items Per Page:
<div>
  <select [(ngModel)]="tableConfig.pagination.itemPerPage">
    <option  *ngFor="let itemPerPage of tableConfig.pagination.itemPerPageOptions" >{{itemPerPage}}</option>
  </select>
</div>

Select Page:
<div>
  <select [(ngModel)]="activePage">
    <option  *ngFor="let pages of totalPageArray | amountPagesTable:data:tableConfig.pagination.itemPerPage">{{pages+1}}</option>
  </select>
</div>



