<br><br><br>
<div class="d-flex flex-row justify-content-center">
<nav>
  <ng-container *ngIf="role==='ADMIN'; else roleCustomer">
    <a routerLink="/homepage"> HomePage</a>
    <a routerLink="/reservations"> Reservations </a>
  </ng-container>

  <ng-template #roleCustomer>
    <a routerLink="/homepage-customer"> HomePage</a>
  </ng-template>

  <a routerLink="/carPark"> Car Park</a>
  <a (click)="getProfile()"> Profile</a>

  <div *ngIf="!currentUser">
    <a href="/login">Login</a>
  </div>
</nav>
  </div>
<br>
<br>
<router-outlet></router-outlet>



